<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  카테고리 분류
  <select ng-model="category">
    <option value="" >
    <option value="firework">불꽃놀이
    <option value="beach">해변축제
    <option value="flower">꽃축제
    <option value="other">기타
  </select>
</form>

<form>
  지역별 분류
  <select ng-model="location">
    <option value="" >
    <option value="seoul">서울
    <option value="busan">부산
    <option value="anywhere">기타
  </select>
</form>

<form>
  분류
  <select ng-model="testform">
    <option value="" >
    <option value="test1">확인1
    <option value="test2">확인2
    <option value="test3">확인3
  </select>
</form>
</body>
</html>
